In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
%matplotlib inline

In [2]:
df_Train=pd.read_csv('Train_New.csv')
df_Test=pd.read_csv('Test_New.csv')

In [3]:
df_Train.head()

,Package Name,Package Type,D1,D2,D3,D4,D5,N1,N2,N3,...,SP12,SP13,SP14,SP15,SP16,SP17,SP18,SP19,Cancellation Rules,Per Person Price
0,422,4,79,118,54,9,30,1,2,2,...,166,136,108,93,65,46,27,18,5,11509.0
1,1152,3,107,95,90,49,30,1,2,1,...,166,136,108,93,65,46,27,18,0,22485.5
2,1437,2,113,24,69,49,30,2,1,0,...,166,136,108,93,65,46,27,18,0,12421.5
3,487,3,71,68,0,33,30,2,1,1,...,166,136,108,93,65,46,27,18,0,35967.0
4,196,3,86,13,69,49,30,4,3,0,...,166,136,108,93,65,46,27,18,0,25584.0

In [4]:
df_Test.head()

,Package Name,Package Type,D1,D2,D3,D4,D5,N1,N2,N3,...,SP11,SP12,SP13,SP14,SP15,SP16,SP17,SP18,SP19,Cancellation Rules
0,841,2,35,94,69,49,30,5,0,0,...,194,166,136,108,93,65,46,27,18,0
1,1061,2,10,94,69,49,30,2,0,0,...,194,166,136,108,93,65,46,27,18,9
2,2127,4,71,94,69,49,30,3,0,0,...,194,166,136,108,93,65,46,27,18,9
3,1471,1,71,94,69,49,30,3,0,0,...,194,166,136,108,93,65,46,27,18,9
4,1938,2,21,83,92,1,30,1,2,1,...,194,166,136,108,93,65,46,27,18,0

In [5]:
df_Train.drop('PC1', axis=1, inplace=True)
df_Train.drop('PC2', axis=1, inplace=True)
df_Train.drop('PC3', axis=1, inplace=True)
df_Train.drop('PC4', axis=1, inplace=True)
df_Train.drop('PC5', axis=1, inplace=True)
df_Train.drop('Meals', axis=1, inplace=True)

In [6]:
df_Test.drop('PC1', axis=1, inplace=True)
df_Test.drop('PC2', axis=1, inplace=True)
df_Test.drop('PC3', axis=1, inplace=True)
df_Test.drop('PC4', axis=1, inplace=True)
df_Test.drop('PC5', axis=1, inplace=True)
df_Test.drop('Meals', axis=1, inplace=True)

In [7]:
df_Train.drop('N5', axis=1, inplace=True)
df_Test.drop('N5', axis=1, inplace=True)

df_Train.drop('A5', axis=1, inplace=True)
df_Test.drop('A5', axis=1, inplace=True)

In [8]:
df_Train.drop('Month', axis=1, inplace=True)
df_Test.drop('Month', axis=1, inplace=True)

# df_Train.drop('SP5', axis=1, inplace=True)
# df_Test.drop('SP5', axis=1, inplace=True)

In [9]:
X=df_Train.drop(['Per Person Price'],axis=1)
y=df_Train[['Per Person Price']]

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.18,random_state=33)

In [11]:
import optuna
from math import sqrt
import lightgbm as lgb

In [68]:
import lightgbm as lgb
clf = lgb.LGBMRegressor(num_leaves=447, max_bin=710, learning_rate=0.09331243999355992, max_depth=15,
min_child_weight=15, feature_fraction=0.47495493053414917, bagging_fraction=0.9929254799564464, bagging_freq=6,
min_child_samples=3, lambda_l1=0.000986045554855583, lambda_l2=4.623154526528644e-05)
clf.fit(X_train, y_train)

LGBMRegressor(bagging_fraction=0.9929254799564464, bagging_freq=6,
              feature_fraction=0.47495493053414917,
              lambda_l1=0.000986045554855583, lambda_l2=4.623154526528644e-05,
              learning_rate=0.09331243999355993, max_bin=710, max_depth=15,
              min_child_samples=3, min_child_weight=15, num_leaves=447)

In [69]:
pred = clf.predict(X_test)

from sklearn.metrics import r2_score
print(r2_score(y_test, pred))

0.8131086692519924

In [70]:
from sklearn.metrics import mean_squared_log_error
np.sqrt(mean_squared_log_error(y_test, pred))

0.19348395288007067

In [54]:
prediction = clf.predict(df_Test)
prediction

array([19306.53913591, 10582.48527273,  5107.20999965, ...,
       19175.61519668, 22223.00239488, 10598.2533807 ])

In [55]:
output = pd.DataFrame({'Per Person Price': prediction})
output.to_csv('WorkathonStarterSubmission_04_10.csv', index=False)